<!-- index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canarian Cluedo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Juego de Misterio</h1>
        <p class="responsive-p">
        Año 1898. En la isla de La Palma, en pleno resurgir de los Indianos, la Gran Logia Masónica se convierte en el escenario de un misterio. Don Sebastián Monteverde, líder de la logia y excomerciante de tabaco en Cuba, es hallado muerto en su mansión.
        La investigación revela secretos de negocios en Cuba, traiciones en la logia y pasados oscuros de los asistentes. ¿Fue un suicidio? ¿O alguien lo silenció antes de que revelara la verdad?
        Pero hay un giro inesperado… ¡Hay un asesino en la mansión! Además, un testigo silencioso, el mayordomo Tomás Herrera, sabe más de lo que dice. Escuchó ruidos extraños en una de las habitaciones de la mansión, pero se ha mantenido en silencio ¿Está encubriendo el crimen? ¿Es el asesino y está dando pistas falsas?
        La historia se desarrolla en una mansión lujosa en la isla de La Palma, en 1898, donde los invitados han sido convocados a una fiesta para celebrar el regreso de los indianos. Sin embargo, la celebración termina trágicamente cuando Sebastián Monteverde, Gran Maestre de la Logia y excomerciante de tabaco en Cuba, es asesinado.
        </p>
        <div class="image-container">
            <img src="static/img/imagen1.PNG" alt="Escena del crimen">
            <img src="static/img/imagen2.PNG" alt="Foto grupal de los invitados">
        </div>
    
        
        <button onclick="location.href='juego'">¿Preparado para el misterio?</button>
    </div>
</body>
</html>